{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "camelcase": 0,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "arrow-body-style": ["error", "always"],
    "react/forbid-prop-types": [1, { "forbid": ["any", "array"] }],
    "import/no-unresolved": 0,
    "import/noundef" : 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "max-len": ["error", 200],
    "no-alert": 0,
    "class-methods-use-this": 0,
    "import/extensions": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "react/prop-types": 0,
    "no-param-reassign": 0,
    "react/jsx-no-undef": 2
  }
}